/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('assets/projetoboscovwallpaper.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1f272f;
}
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/projetoboscovwallpaper.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; /* garante que fique no fundo */
}
.success-snackbar {
  background-color: #4caf50; /* verde */
  color: white;
}

.error-snackbar {
  background-color: #f44336; /* vermelho */
  color: white;
}
