<div class="login-container">
  <mat-card class="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2 style="text-align: center; color: white;">Acesse a sua conta!</h2>

      <!-- Campo de E-mail -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          O email é obrigatório.
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Digite um email válido.
        </mat-error>
      </mat-form-field>

      <!-- Campo de Senha com Ícone -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Senha</mat-label>
        <input
          matInput
          [type]="showPassword ? 'text' : 'senha'"
          formControlName="senha"
          required
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePasswordVisibility()"
        >
          <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('senha')?.hasError('required')">
          A senha é obrigatória.
        </mat-error>
      </mat-form-field>

      <!-- Botão de Login -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="full-width"
        [disabled]="loginForm.invalid"
      >
        Entrar
      </button>

      <!-- Mensagem de erro geral -->
      <div *ngIf="error" class="error-message">
        {{ error }}
      </div>
    </form>
  </mat-card>
</div>
